################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Bookstore.Service/DslScripts/Books.rhe
/src/Bookstore.Service/DslScripts/Books.rhe
